.Container {
    width: 100%;
    height: auto;
    display: flex;
}

/* left side */
.leftSide {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* right side */
.rightSide {
    width: 40%;
    /* height: 100%; */
}