.NavbarContainer{
    position: relative;
    width: 100%;
    height: 100px;
}

.navbarBG{
    width: 100%;
    height: 100px;
    background-color: #ED5353;
    position: absolute;
    top: 0;
    border-radius: 0 0 40px 40px;
}

.rectangle1{
    width: auto;
    height: 45%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.rectangle2{
    height: 70%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rectangle3{
    height: 100%;
    position: absolute;
    right: 0px;
}



.navbar{
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.navbar *{
    font-family: 'DM Sans', sans-serif;
}

.logo{
    font-size: 1.3rem;
    font-weight: 700;
}

.navRight{
    display: flex;
    align-items: center;
    gap: 20px;
}


.logoutBtn{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.logoutBtn:hover{
    text-decoration: underline;
}
.greeting{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.profileLogo{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}


.loginBtn, .registerBtn{
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 7px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}
.loginBtn{
    color: #fff;
    background-color: transparent;
}
.registerBtn{
    color: #ED5353;
    background-color: #fff;
}
.loginBtn:hover, .registerBtn:hover{
    transform: scale(1.05);
}