*{
    font-family: 'DM Sans', sans-serif;
}

.Container {
    width: 60%;
    height: 60%;
}

.heading1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
}

.heading2{
    font-size: 1rem;
    font-weight: 500;
    color: #525252;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.input {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
    background-color: #fff;
    border: 1.5px solid #C2C2C2;
    border-radius: 5px;
    outline: none;
}
.input::placeholder{
    font-size: 0.9rem;
    font-weight: 500;
    color: #525252;
}

.errorMessage {
    color: red;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: -10px;
}

.signUp {
    color: #525252;
    font-size: 1rem;
    font-weight: 500;
}

.signUpLink {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}
.signUpLink:hover {
    color: #797979;
}